.photosPage {
	font-family: "Special Elite", serif;
	font-weight: 400;
	font-style: normal;
.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.tooltiptext {
  	visibility: hidden;
  	width: 130px;
  	background-color: white;
  	color: red;
  	text-align: center;
  	padding: 5px 0;
  	position: absolute;
  	border-style: dashed;
  	border-color: blue;
  	border-width: 2px;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}
.photo{
	width:800px;
}

.homePage{

}
.favoritePhotos{
	width: 800px;
}